body {
	width: 1024px;
	margin: auto;
}

#topLeft {
	position: absolute;
	top: 0;
	right: 1024px;
	width: 200px;
	height: 100px; 
	float: left;
	/*margin: 5px, 5px, 5px, 5px;*/
}
#circle {
	position: absolute;
	top: 250px;
	right: 400px;
	width: 200px;
	height: 150px;
	float: left;	
}
#topMiddle {
	position: absolute;
	top: 0;
	right: 680px;
	width: 200px;
	height: 150px;
	float: left;
	/*margin: 5px, 5px, 5px, 5px;*/
}

#topRight {
	position: absolute;
	top: 0;
	right: 345px;
	width: 200px;
	height: 150px;
	float: left;
	/*margin: 5px, 5px, 5px, 5px;*/
}

#bottomLeft {
	float: left;
	position: absolute;
	top: 415px;
	right: 1024px;
	width: 200px;
	height: 100px;
}

#logo {
	float: left;
	position: absolute;
	top: 350px;
	right: 780px;
	width: 200px;
	height: 100px;
}

#bottomMiddle {
	float: left;
	position: absolute;
	top: 525px;
	right: 680px;
	width: 200px;
	height: 100px;
}

#bar {
	float: left;
	position: absolute;
	top: 324px;
	right: 345px;
	width: 200px;
	height: 100px;
}

#bottomRight {
	float: left;
	position: absolute;
	top: 380px;
	right: 345px;
	width: 200px;
	height: 100px;
}
a:hover {
	color: #ffffff;
	text-decoration: none;
}

#topLeft:hover, #topMiddle:hover, #topRight:hover, #circle:hover, #bottomLeft:hover, #bottomMiddle:hover, #bottomRight:hover, #logo:hover {
	opacity: 0.7;
}